@charset "UTF-8";
/* 모바일 */
@media screen and (max-width: 992px) {
    /*네비바*/
    .dropdown-menu .dropdown-item {
        padding: 0.2rem !important;
    }

    .dropdown.nav-item .dropdown-menu-animation.show {
        height: 70px !important;
    }

    .dropdown .dropdown-menu:before {
        color: #e3e3e3f0;
    }

    #navigation {
        border-bottom: solid #cfcfcf 1px;
        position: absolute;
        top: 57px;
        left: 0px;
        width: inherit;
        background: white;
        padding: 1rem;
        border-bottom-left-radius: 0.75rem;
        border-bottom-right-radius: 0.75rem;
        opacity: 0.9;
    }

    /*컨테이너 좌우 패딩*/
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .container.mobile {
        padding: unset;
    }

    /*푸터*/
    div.footInfo p {
        margin: 0;
        font-size: 1rem;
    }

    .footer .nav-link {
        font-size: 0.6rem !important;
        padding-top: 5px !important;
    }

    /*메인 설명*/
    .main-text h2 {
        font-size: 8vw !important;
    }

    .main-text h5 {
        font-size: 3vw !important;
    }

    /*카드단말기 ~ 솔루션 모바일 버튼*/
    .mobile-card span {
        position: absolute;
        top: 7%;
        left: 56.5%;
        color: #ffffff;
        font-size: 5.5vw;
        font-weight: bold;
    }

    .mobile-card p {
        position: absolute;
        top: 18%;
        left: 52.5%;
        color: #ffffff;
        font-size: 2.8vw;
        font-weight: bold;
    }

    .mobile-pos span {
        position: absolute;
        top: 41%;
        left: 54%;
        color: #ffffff;
        font-size: 5.5vw;
        font-weight: bold;
    }

    .mobile-pos p {
        position: absolute;
        top: 52%;
        left: 53.5%;
        color: #ffffff;
        font-size: 2.8vw;
        font-weight: bold;
    }

    .mobile-sol span {
        position: absolute;
        top: 74%;
        left: 64%;
        color: #ffffff;
        font-size: 5.5vw;
        font-weight: bold;
    }

    .mobile-sol p {
        position: absolute;
        top: 85%;
        left: 57%;
        color: #ffffff;
        font-size: 2.8vw;
        font-weight: bold;
    }

    /*오시는길, 문의하기 하단부 */
    .under-text h2 {
        font-size: 4.5vw;
        top: 9%;
    }

    .under-text h5 {
        top: 26%;
        left: 0%;
        width: 100%;
        font-size: 3.5vw;
        font-weight: bold;
    }

    .under-text p {
        position: absolute;
        top: 35%;
        left: 0%;
        width: 100%;
        font-size: 3.5vw;
        font-weight: bold;
        color: #f5f5f5;
    }

    .under-button-img, .under-button-img2 {
        top: 73%;
        width: 36% !important;
    }

    .under-button-img {
        left: 10%;
    }

    /*인사말*/
    .mobile-greetings {
        padding: 5%;
    }

    .info-text:before {
        height: calc(100% - 20%);
    }

    .info-padding {
        padding-bottom: 0px;
    }

    .mb-9.mobile {
        margin-bottom: 6rem !important;
    }

    .info-text {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        color: black;
    }

    /*오시는길*/
    #map {
        height: 350px !important;
    }

    .mobile-location {
        margin-bottom: 10px;
    }

    .location-padding {
        padding-bottom: 0px;
    }

    /*  서비스  */
    .extable {
        font-size: small;
    }

    .extable td {
        padding-inline: unset;
    }

    /* 서비스 탭 */
    .serviceTab-button {
        border-radius: 10px;
        background: #f0f2f5;
        padding-inline: 1rem;
        padding-block: 0.3rem;
        font-size: 2rem;
        color: black;
    }
    .serviceTab-button:hover {
        color: black;
    }
    .dropdown-menu.tab.show {
        left: 50%!important;
        transform: translate(-50%,5%)!important;
    }
}
