@charset "UTF-8";
/*네비바*/
ul.navbar-nav a.nav-link {
    font-size: 1.1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.2rem !important;
}

.dropdown-menu a {
    display: block;
    font-size: 1.2rem;
}

.navbar-nav {
    margin-left: auto;
}

.navbar .nav-link {
    font-weight: bold;
}

.navbar {
    box-shadow: none;
}

.logo {
    width: 80px;
    height: 28px;
    vertical-align: sub;
}

.logo-text {
    font-size: 26px;
    font-style: italic;
}

.tel img {
    width: 35px;
}

.tel span {
    font-family: GmarketSansBold;
    font-weight: 550;
    font-size: 20px;
}

/*네비바 구분선*/
.boundary img {
    height: 26px;
}

/*푸터*/
.footer {
    background-color: #dee2e6;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
    padding: 1.5rem;
}

.nav-footer .nav-link {
    font-size: .875rem;
}

.footer .nav .nav-item .nav-link {
    color: #8898aa !important;
}

div.footInfo span {
    margin-right: 1em;
    font-size: 12px;
}

.ml-lg-auto, .mx-lg-auto {
    margin-left: auto;
}

/*오시는길, 문의하기 하단부 */
.under-text h2 {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    color: #f5f5f5;
    font-size: 39px;
    font-weight: bold;
}

.under-text h5 {
    position: absolute;
    top: 27%;
    left: 0%;
    width: 100%;
    color: #f5f5f5;
    font-size: 26px;
    font-weight: 550;
}

.under-button-img {
    position: absolute;
    top: 74%;
    left: 25%;
    filter: drop-shadow(1px 1px 1px #000);
}

.under-button-img2 {
    position: absolute;
    top: 74%;
    left: 55%;
    filter: drop-shadow(1px 1px 1px #000);
}

/*이미지 버튼*/
.img-button {
    filter: drop-shadow(1px 1px 1px #000);
}

/* 드롭다운 메뉴 색상 */
.dropdown-menu {
    background-color: #e3e3e3f0
}

.list-group-item {
    --bs-list-group-bg: #eafcff00
}

@media (min-width: 992px) {
    .dropdown .dropdown-menu::before {
        color: #e3e3e3f0
    }
}

/*브레드크럼*/
.breadcrumb-item.active {
    color: #000000;
    font-weight: bold;
}

.under-line:after {
    content: "";
    display: block;
    width: 90%;
    border-bottom: 1px solid;
    margin: 10px auto;
}

/*회사소개*/
.info-text:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    background: #f6f6f6;
    width: 100%;
    height: calc(100% - 225px);
    z-index: -1;
}
.info-text {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: black;
}
.main-text p {
    color: black;
}
.info-padding {
    padding-bottom: 250px;
}

/*오시는길*/
.location-padding {
    padding-bottom: 100px;
}
/*서비스*/
.serviceImg {
    width: 100%;
    height: 300px;
}
.nav.nav-pills {
    background: #f0f2f5;
}
@media screen and (min-width: 993px){
    .row.mb {
        margin-bottom: 30px;
    }
}
.serviceTab-button {
    border-radius: 10px;
    background: #f0f2f5;
    padding-inline: 1rem;
    color: black;
}
.serviceTab-button:hover {
    color: black;
}
.dropdown-menu.tab.show {
    left: 50%!important;
    transform: translate(-50%,5%)!important;
}
/*설치사례 피규어 모달*/
figure {
    width: 100%;
    position: relative;
}
figure img {
    display: block;
    width: 100%;
    height: auto;
}
figure h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding-block: 0.5rem;
}
figure .overlay {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: .6s ease;
    transition: .6s ease;
}
figure .overlay .description {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
figure:hover h4 {
    display: none;
}
figure:hover .overlay {
    display: block;
    height: 100%;
}
figure:hover img{
    filter: blur(5px);
}
figure:hover{
    cursor: pointer;
}
/*프로그램*/
img.softImg {
    background-image: url(/img/homepage/program/frame.png);
    padding: 1.25rem;
    background-size: 100% 100%;
}
.softImg.img-thumbnail {
    margin-bottom: 1rem;
}
.img-text {
    font-family: GmarketSansBold;
}
.com-sm-12 span {
    font-family: GmarketSansBold;
}
/*고객센터*/
.accordion {
    --bs-accordion-color: black;
    font-weight: bold;
}
.accordion-header {
    font-family: GmarketSansBold;
}
.accordion button[aria-expanded=true] .collapse-close {
    display: none;
}
.pagination.pagination-secondary .page-item.active>.page-link {
    color: white;
}
/*사이드바*/
.quickSide {
    position: fixed;
    top: 20%;
    right: 4.5vw;
    width: 100px;
}
.quickSide .list-group-item {
    --bs-list-group-bg: darkgray;
}
.quickSide .list-group-item-action:hover {
    background : #344767 !important;
}
@media screen and (max-width: 1668px) {
    .quickSide {
        display: none !important;
    }
}
/*중간크기*/
@media screen and (min-width: 993px) and (max-width: 1199px) {
    .info-text:before {
        height: calc(100% - 310px);
    }

    ul.navbar-nav a.nav-link {
        font-size: 13px;
    }

    .boundary img {
        height: 16px;
    }

    .logo {
        width: 60px;
        height: 24px;
        vertical-align: sub;
    }

    .logo-text {
        font-family: GmarketSansBold;
        font-size: 22px;
        font-style: italic;
    }

    .tel img {
        width: 30px;
    }

    .tel span {
        font-family: GmarketSansBold;
        font-weight: 550;
        font-size: 16px;
    }
}

/* 폰트 */
@font-face {
    font-family: "inter";
    src: url(../font/Inter-Bold.otf);
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url(../font/GmarketSansBold.woff);
}

/*드롭다운메뉴 조금 밑에 올려도 호버되는거 막으려면 활성화.*/
/*@media (min-width: 992px) {*/
/*    .dropdown.dropdown-hover:after {*/
/*        pointer-events: none;*/
/*    }*/
/*}*/

/*메뉴 버튼 클릭시 되는거 막으려고 머터리얼 css에서 이거 삭제하고 dropdown-fix 생성*/
/*,.dropdown .dropdown-menu.show* << 이부분 삭제 (,부터) 바꿈 아래가 원본/
/* .dropdown.dropdown-hover:hover>.dropdown-menu,.dropdown .dropdown-menu.show{opacity:1;pointer-events:auto;visibility:visible;transform:scale(1)!important}*/
.dropdown .dropdown-fix.dropdown-menu.show {
    opacity:1;
    pointer-events:auto;
    visibility:visible;
    transform:scale(1)!important
}